<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.middleproject.hotelback.mappers.BasketMapper">
    <select id="selectAll" resultType="basketDTO">
        SELECT * FROM hotel
    </select>
    <select id="selectOne" parameterType="int" resultType="basketDTO">
--         userid(parameter)에 따른 basket
        SELECT * FROM basket
        where basket.user_id = #{id}
    </select>
<!--    <delete id="deleteOne" parameterType="map">-->
<!--        DELETE FROM basket-->
<!--        WHERE basket.user_id = #{userId}-->
<!--          AND basket.hotel_id = #{productId}-->
<!--    </delete>-->
</mapper>