<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.middleproject.hotelback.mappers.HotelMapper">
    <select id="hotelInBasket" parameterType="int" resultType="hotelDTO">
        SELECT * FROM hotel
        WHERE hotel.id in (SELECT hotel_id FROM basket
                           WHERE basket.user_id = #{userId})
    </select>
    <select id="selectOne_Wrong" parameterType="int" resultType="hotelDTO">
--         SELECT * FROM hotel
--         WHERE hotel.id = #{id}
    </select>
    <select id="selectOne" parameterType="int" resultType="HotelDTO">
        SELECT * FROM hotel
        INNER JOIN user
        ON hotel.sellerId = user.id
        WHERE hotel.id = #{id}
    </select>
    <select id="selectMaxPage" resultType="int">
        SELECT COUNT(*) FROM hotel
    </select>
    <select id="selectList" parameterType="hashmap" resultType="HotelDTO">
        SELECT * FROM hotel
        INNER JOIN user
        ON hotel.sellerId = user.id
        ORDER BY hotel.id
        DESC LIMIT #{startRow},#{size}
    </select>
    <select id="selectAll" resultType="hotelDTO">
        SELECT * FROM hotel
    </select>
    <insert id="insert" parameterType="HotelDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotel(name, content,address, sellerId, startEntry,
                          endEntry,roomNumber,roomMember,price,shortContent,booked)
        VALUES(#{name}, #{content},#{address},
               #{sellerId},#{startEntry},#{endEntry},#{roomNumber},#{roomMember},#{price},#{shortContent},0)
    </insert>
    <select id="searchHotels" resultType="HotelDTO" parameterType="map">
        SELECT * FROM hotel
        INNER JOIN user ON hotel.sellerId = user.id
        WHERE
        <choose>
            <when test="searchType == 'name'">
                name LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="searchType == 'address'">
                address LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY hotel.id ASC
    </select>
    <update id="update" parameterType="HotelDTO">
        UPDATE hotel
        SET name = #{name},
            content = #{content},
            address = #{address},
            startEntry = #{startEntry},
            endEntry = #{endEntry},
            roomNumber = #{roomNumber},
            roomMember = #{roomMember},
            price = #{price},
            shortContent = #{shortContent}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM hotel
        WHERE id = #{id}
    </delete>

</mapper>