<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="org.spring.middleproject.hotelback.DTO.UserDTO" alias="userDTO"></typeAlias>
        <typeAlias type="org.spring.middleproject.hotelback.DTO.BasketDTO" alias="basketDTO"></typeAlias>
        <typeAlias type="org.spring.middleproject.hotelback.DTO.HotelDTO" alias="hotelDTO"></typeAlias>
    </typeAliases>

</configuration>